## Macro title: SVG Include
## Macro has a body: N
## Body processing: Selected body processing option
## Output: Selected output option
##
## Developed by: Charles Vissol
## Date created: 25/07/2019
## Installed by: Charles Vissol

## @param TheAttachment:title=Image|type=attachment|required=true|desc=Set the SVG filename (before upload it to attach it in a page)
## @param SVGattachmentName:title=SVG file name|type=string|required=true|desc=Set the SVG filename (before upload it to attach it in a page)
## @param DisplayZoom:title=Display zoom toolbar|type=boolean|required=true|default=true|desc=Display or not the toolbar for zooming in / zooming out
## @param SVGwidth:title=Width of the SVG image|type=int|desc=You can fix the width of the SVG image
## @param SVGheight:title=Height of the SVG image|type=int|desc=You can fix the height of the SVG image


#set($AttachmentField      = "TheAttachment")          ## for paramTheAttachment
#set($AttachmentFieldValue = "$!{paramTheAttachment}") ## for paramTheAttachment value

#set($options = [""])

#foreach($Attachment in $attachmentManager.getLatestVersionsOfAttachments($content) )
	#set($AttachmentName = $Attachment.getFileName() )
	##if($AttachmentName.matches('(.*.svg\z)|(.*.SVG\z)')) ## if only images are needed; use this
		#set($dummy = $options.add($AttachmentName) ) ## for all attachments; use this
	##end         ## if only images are needed; use this
#end

#if ($req.getRequestURI().contains("tinymce")) ## displayed only in user macro edit mode
	<script> 
		var theMacroFeld = window.parent.document.getElementById("macro-param-${AttachmentField}");
		theMacroFeld.innerHTML = '';
		#foreach($option in $options)
			node = document.createElement("option");
			node.text = "${option}";
			node.value = "${option}";
			theMacroFeld.appendChild(node); 
		#end
		
		theMacroFeld.value = "$!{AttachmentFieldValue}";
	</script> 
	
	<ul class="aui-buttons rte-toolbar-group-files"><li id="confluence-insert-files" class="toolbar-item insert-files" data-tooltip="" data-weight="0" original-title=""><a class="toolbar-trigger aui-button" href="#" data-control-id="confluence-insert-files"><span class="icon aui-icon aui-icon-small aui-iconfont-editor-files"></span><span class="trigger-text">Dateien</span></a></li></ul>
	
	
#end





#set($currentTime = $action.dateFormatter.calendar.timeInMillis)

#if($paramSVGwidth)
#set($width=$paramSVGwidth)
#else
#set($width=640)
#end
#if($paramSVGheight)
#set($height=$paramSVGheight)
#else
#set($height=480)
#end

<script>
function dimension$currentTime(status){

var width = document.getElementById("agsvginclude$currentTime").width;
var height = document.getElementById("agsvginclude$currentTime").height;

if(status == 0) {
   document.getElementById("agsvginclude$currentTime").with= width - 0.1*width;
   document.getElementById("agsvginclude$currentTime").height= height - 0.1*height;
} else {
   document.getElementById("agsvginclude$currentTime").with= width + 0.1*width;
   document.getElementById("agsvginclude$currentTime").height= height + 0.1*height;
}

}

</script>
<div style="display:block;left:0px;">
#if($paramDisplayZoom == true)
<div>
<img onclick="dimension$currentTime(0)" width="30px" height="30px" style="cursor:pointer;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOQAAADVCAYAAABHcVyFAAAABHNCSVQICAgIfAhkiAAAFY5JREFU
eJztnelXGkkXh3+NCLKvAi64oSQuk3FMzvz/Xydnxsm4a9wAo7asCjSL0P1+4NXJmJgo0FXV3fc5
x3P8EKybpp+u6lrulTRN00AQhBDYeAdAEMS/kJAEIRAkJEEIBAlJEAJBQhKEQJCQBCEQJCRBCISd
dwBWQlVVKIqCRqOBVquFTqeDbreLbrf7n9+73S40TcPIyAhGRkZgt9sff3/4cTgccLlccLvdGB0d
5f1fI4YECakD3W4Xt7e3j/I1Gg0oioJWq6VLe3a7HW63Gy6X61FSv98Pp9OpS3uEfki0U2dwVFXF
3d0dyuUyKpUKqtUqRLisLpcLwWAQoVAIwWCQelIDQEL2Sb1eR7FYRLlcxt3dHVRV5R3ST/F4PAgG
gwiHwwiFQpAkiXdIxBNIyFdwf38PWZYhyzJqtRrvcAbC4XAgFoshHo/D6/XyDof4PyTkT1BVFcVi
EbIso1QqCTEUHTYejweJRAKxWAwOh4N3OJaGhHyGVquFXC4HWZbR6XR4h8MESZIQDoeRTCYRCAR4
h2NJSMgnNBoN5HI5XF9fm7I3fCmBQACzs7MIhUK8Q7EUJOT/URQFmUwG+Xze0iI+xefzYWZmBtFo
lHcolsDyQiqKgrOzMxQKBd6hCI3H48Hc3ByJqTOWFVJVVWQyGeRyOeoRX0E4HMbi4iJcLhfvUEyJ
JYUsFAo4Pj7WbeeM2bHZbEgmk5iZmYHNRtuhh4mlhGw2mzg+PkaxWOQdiikYGxvD0tISwuEw71BM
g2WEzGazyGQyhthRYzSi0SjS6TRtzRsCphey3W7j4OAA5XKZdyimxul0Ynl5mdYvB8TUQlYqFezv
76PdbvMOxRJIkoS5uTnMzMzwDsWwmFJITdOQyWSQyWR4h2JJQqEQ3r59S9vw+sB0Qrbbbezv76NS
qfAOxdI4HA4sLy8jGAzyDsVQmEpIRVGwtbVFyxmCIEkS0uk0EokE71AMg2mEvLu7w/b2tmU2ghuJ
+fl5eq98IaYQslgsYm9vj5Y0BGZ6ehqpVIp3GMJjeCFlWcbh4SFtfzMAsVgMb9++pUwFP8DQQuZy
OZyenvIOg3gF4XAYKysrGBkZ4R2KkBh2I+LFxQXJaEBKpRJ2d3dpRPMMhhRSlmWcnJzwDoPok3K5
jP39fd5hCInhhCyVSjg8POQdBjEg+Xwenz9/5h2GcBhKyLu7OxrumIjLy0vaTfUEw2QuVxQF29vb
pljacDgcj5nG3W43HA7HN6UCJEn6T2mBh3IDD9nQFUVBs9k0/MPp/PwcDocDExMTvEMRAkMI2W63
sbW1ZchFf0mS4Pf7EQwGEQwG4fV6YbcP57JrmgZFUVCpVB5/jHiNjo6O4HA4EIlEeIfCHUMse2xt
bRnq+JTdbkcsFkMkEkEgEGA6xV+r1VAqlSDLMhRFYdbuoNjtdrx//x5jY2O8Q+GK8EJmMhmcn5/z
DuOnSJKESCSCeDyOSCQixOJ3tVqFLMu4ubnB/f0973B+it/vx/r6uhDXjhdCC1mpVLC1tSX0e5Ik
SZicnMTs7KywJ+Y1TcP19TXOz8+FPxuaTCaxsLDAOwxuCCvk/f09/vzzT6FvoFgshvn5ecMMs1RV
xcXFBbLZLLrdLu9wnmVtbc2y75PCCrm9vY1SqcQ7jO8SCoWwsLBg2CI19/f3yGaz+PLli5Cjj9HR
Ubx//96S9S2FFPLi4kLInTherxcLCwumSa/fbDZxdnaGm5sb3qF8QyAQwPr6Ou8wmCOckK1WCx8/
fhRqvdHpdGJhYQGxWIx3KLpQq9VwcnIiXJaFN2/eWO5ws3BC7u7uCpXWPxgMYmVlRdgJm2Fyfn4u
1M6Z0dFR/P7770NbtzUCQm2dK5VKQsk4OTmJd+/eWUJGAJibm8PKyoow2cjv7+8td6JHjCuP3gzg
8fEx7zAA9JYylpaWsLS0ZLk1sfHxcfz222/CTKhcXV3h7u6OdxjMEEbIbDaLRqPBOwzY7Xa8e/cO
k5OTvEPhhtfrxcbGBvx+P+9QAMBSp0KEEPKhSCpv3G43NjY2KHUhehvg19fXhZhUqdVquLy85B0G
E4QQ8vz8nPusajgcxsbGBpVZ+wpJkvDmzRukUinuQ3cR7hEWcBey0Wggn89zjSEUCmFtbY3yvDzD
9PQ0lpaWuMZwf39viV6Su5C8C6a6XC6srKxw7wFEZ2JiAlNTU1xjuLi4MH0vyVXIVquF6+trbu3b
7Xasra1Zap1rEFKpFNddSq1WC7Isc2ufBVyF5N07Li8vw+12c2vfaEiShJWVFa7v2dlsVsj9t8OC
m5DtdhtXV1e8mkcqlaLKv33wMKrg9b7dbDaF3Hs7LLgJyfN9IB6PY3p6mkvbZsDtdmN5eZlb+9ls
llvbesNFyIcDszzw+/1Ip9Nc2jYTkUiE20FiRVFwe3vLpW294SJkqVTiklJidHQUq6urwuzVNDrJ
ZBLj4+Nc2uY5GagnXO5MXjNlc3NzVNV3yKRSKS4PuHw+b8olEOZXstPpoFgssm4WLpeLcn/qgNPp
5PI+3u12hToZNCyYC8nrybawsECL/zqRTCa5rOWacU2SuZA8LqLf70c0GmXerlWw2+2YnZ1l3m65
XBY6CVo/MBWy2WxymR2zclpBVkxOTjLPvqdpmunWJJkKyePdMRqNIhAIMG/XathsNszNzTFvl8c9
pSdMhWSdREmSJMzPzzNt08rE43HmqTHv7u5MNdtqaiETiQTtVWUM6wegqqqmSvHBTMharca8MhOP
iQarEw6H4fP5mLYpWvrKQWAmJOvqVaFQSJhETVaDddoPErIPWF+0eDzOtD3iX2KxGNM137u7O6Fr
lbwGJkJqmsZ0ucNms9G6I0fsdjvT669pmmneI5kIWavVmD7BotEo5cfhDOsRillOfzARknUlX6uW
MhOJUCjEdNO5kapF/wgmV4x1AmSzVKcyMjabjWmiZRLyFbC8WB6PxzK1OESHZcJpEbLeDwPTCUm9
oziwFFJVVTSbTWbt6QWTMzMsn17DuAnq9TrziSiRkCQJbrcbPp9voPdAv98Pm83GbGuboiiGKS//
HLoL2Ww2me41HGQvZbPZxMHBgWlm7AbF4XAgnU73PUn2IHatVhtyZN9HURTDZxLUfcjKcrhqs9n6
3p2jqiq2trZIxq9ot9vY2dkZaI2PZQ5XM7xH6i5kq9XSu4lHBvnyLy4uTPGF6sHJyUnfn2W5uZ/l
vaYXugvJ8j1skC/fLDs99KBarfb92sGyh2R9eEEPTCXkIF++GZ6ueqFpWt+pMlj2kGaYhNNdSJZP
LUrxKB4s14RJyBfA8iLR/lXxYJmNjoasL4CEtDYsvxPqIV8Ay4tEdR7FQ5IkZpvMVVU1fKk6UwlJ
PaSYsHxQGr2X1F1Ilk8sykxOUA/5E1j2WmZ4qTcjNEp6OaYS0ujDFbPC8nsxeqlB3aOn9wdrw3LU
YvTeETBZD0lDVvGg4errMJWQPKoyEz+G5Xdi9OEqYDIhBzmtQWk/fky/14flCRrqIV8Ay3fIQb58
1unvjYTb7e77ZmcppBn2MusuJMuLNMiXPzU1Rb3kMwxSZo7lAXWjp+8AGAjJ+jxcv+8sDocDq6ur
pvhSh4XNZkMqlcL4+Hjff4NlD8nyXtML3ceTLpcLkiQx20FRr9f7TnQVCATw4cMHlEolVKtVy87a
SpIEj8eDcDg88AOKesjXobuQkiRhbGyM2ZOyUqkMlHluZGQE4+PjA/UKRA/WJQjNICSTeWKWp8ZZ
l70jnod1xTMS8oWwFLJardKOHUFg+XC02+2mmJQznZCappmqgKdRYV2CkGUdET1hIiTr2a9SqcS0
PeJbbm9vmY5UzLKOzERIn8/H9Kzizc2N4c/FGR1Zlpm2Rz3kaxphXJqs0+mgWCwya4/4L6qqIp/P
M22TeshXwrISEtDrJQk+FAoF5vl4zTChA5hYyGKxaNmFfd7QcLV/mAn5UJqMFaqq4suXL8zaI3rU
ajXmk2pGr3j1NcwMsdlsCAQCrJoDAORyOTojyZizszOm7UmSREL2C+tha7fbxfn5OdM2rUy5XGbe
OwYCAVPl42UqJI8n2dXVFZWZYwTr3hFA38VkRYWpkF6vl+muHaC3Y4THjWI1bm5uUK1WmbdLQg5I
IpFg3STy+TzVf9QRXg89t9ttijOQX8NcyFgsxrpJAMDp6SmXdq3A5eUlms0m83bj8TjzNvWGuZBO
pxOhUIh1s7i9vUWhUGDertnpdrvIZDLM25UkictoS2+45M3j9WQ7OzvruzQ38X0ymQyXpaVwOGyK
pFZP4SJkNBrlkrJPURQcHh4yb9esFAoF5HI5Lm1PTExwaVdvuAj5kCaDBzc3N8hms1zaNhP1eh0H
Bwdc2nY6nabaDPA13FI9J5NJXk3j7OyM3icH4P7+Hjs7O9wyMyQSCdOWHuQmpNvt5ppI6uDgAPV6
nVv7RkXTNOzu7nKZVQV6WzCnpqa4tM0CrsUQZmZmuLXd7Xaxs7NDe11fydHREdPUHE+ZnJw0zVGr
78FVSK/Xy3WnRbPZxO7uLmUXeCEXFxe4vr7m1r7NZuP6qsMC7uWCePaSQG998vPnz1xjMAKlUon7
5oqJiQlTLnV8DXch/X4/l40CX3N1dYXj42PqKZ+hWCxib2+P6/Wx2WzcH94s4C4kMFgxl2Hx5csX
bG9vU5aBJ+RyOa4zqg9YoXcEBBHS7/cLsQ2qXC5jc3OTjmuhl3Hh4OCA+zAV6NWmFOGhzQIhhASA
hYUFIWbPGo0GNjc3LV2SoN1u49OnT8xz4zxHKpUy1SHkHyGMkKOjo5ifn+cdBoBeGsnt7W1L5uSp
VqvY3NzkcrbxewQCAVOe6ngOYYQEeu8JomQQ0zQNx8fHODw8tMxkz83NDT59+oRWq8U7FAC9Ex1L
S0u8w2CKUEICwNLSklDboq6vr/Hp0ydhegw9uL+/x+fPn7G/vy/UaZjp6Wl4PB7eYTBF0gR8/J+c
nODi4oJ3GN8Qi8UwPz9virJnQG/i5uLiAtlslvss6lPcbjfev3/PNHWoCAgppKqq+Pvvv1Gr1XiH
8g2SJGFqagozMzNCTEL1g6ZpkGUZZ2dnaLfbvMP5BkmSsLGxAa/XyzsU5ggpJNCb7fzrr7+Ee3I/
YLfbkUwmMT09baineLFYxOnpKdNS469lYWHB9FvknkNYIYHeJMP+/j7vMH6I0+nE3NycEOuoP6Ja
reLk5ITrxvCXEAqF8O7dO95hcENoIYHe6YKrqyveYfyUsbExxONxxONxYTKhdTod5PN5yLIsvIhA
b+nrw4cPltiR8xzCC6mqKjY3Nw11dtHn8yEejyMSiTCfAOp2uyiXy5BlGaVSSahZ058hSdKzqV1c
Lhe8Xi+8Xi+i0ahppRVeSKCXC2dzc1PY98kfMTY2hlAohGAwiGAwOPQbSVVV3N7eolKpoFwuo1ar
mX7d1G63I5VKCf+a0A+GEBLo7TPd3t42/M3mcDgeE/y63W643W44HA7Y7XaMjIzAbrc/rsNqmoZu
t4tut4tOp4NOpwNFUdBoNKAoChRFQbPZNPw16ZdwOIy3b98adrb7exhGSKCXgXxvb493GLojSRIk
STLUcJMXHo8Hv/76q2mkNM58PYDx8XEsLi7yDkN3NE0jGV9IvV7HP//8Y5pULIYSEsDjojxBPGAm
KQ0nJADMz8+b8oWe6B+zSGlIIQEgnU5b6lgO8XPMIKWhJnW+x+npKbd09oSYGHmix/BCAr30hCcn
J7zDIATCqFKaQkgAkGXZUoeJiZ9jRClNIyTQyx26t7dnyB09hD4YTUpTCQkAtVoNe3t7lDmOeMRI
UppOSKB3yuHo6Aj5fJ53KJbE4XA8bvkTBaNIadhljx9ht9uxsrKCxcVFQx0eNgORSAQfPnwQ7sY3
ypKIqe/WqakprK+vC3M+0czYbDYsLS1hbW1NOBkfMIKUphYS6J1N3NjY4FqL0ux4PB5sbGxgcnKS
dyg/RXQpTfkO+RylUgnHx8c04TMkJElCMpnE7OzsN68Gf/zxB7eiri9B1HdKSwkJ9A70ZrNZ5HI5
OlExAOFwGIuLi8++DoguJCCmlJYT8oFGo4Hj42OUSiXeoRgKp9OJxcVFRKPRH/67jx8/GmIkIpqU
lhXygUKhgNPTU0PcPDwZGRnB9PQ0ZmZmXjRzvbOzg2KxyCCywRFJSssLCfQOBOfzeWSzWUMl02LB
yMgIpqamkEwmX1WB6vz8HJlMRsfIhosoUpKQTygUCshms6au5fES+hXxgWKxiJ2dHR0i0w8RpCQh
n6FcLiObzaJSqfAOhSkulwuJRAKTk5MD1WTsdrv4888/hZ/YeQpvKUnIn6AoCmRZhizLwpRpGzaS
JCEajWJiYgKhUGhof7dcLmNra2tof48VPKUkIV9BpVLB9fU1CoWCUPs0+8Xn8yEWiyEej+t28xkl
8/xTeElJQvaBqqooFAooFAqoVCrC7vp4is1mQzAYRCQSQSQSgdPp1L1NVVWxvb1tyKE/DylJyCFQ
r9dRqVQefzqdDu+QAPSGoh6PBz6fD+FwGKFQ6NlU/XpCUr4cElIHarUabm9vUa/XH7OMs6jD6HQ6
4fP54Pf74ff74fV6uQj4PUjKl0FCMqLT6fynBECr1UKn03k8N/hQLuDrc4QPxWdGRkZgs9kef3c4
HBgbG/vmR/SjZiTlzyEhBUXTtMcaH2aCpPwxYj9SLYwZZQR6E0u//PILgsEg71BeDYujWyQkwZwH
KYe55skKvaUkIQku2Gw2rK2tkZRPICEJbpCU30JCElwhKf8LCUlwh6T8FxKSEAKSsgcJSQgDSUlC
EoJhdSlJSEI4jC7l3t5e358nIQkhMbKUlUoFl5eXfX2WhCSExchSnp6e9pW+hIQkhMaoUna7XVxf
X7/6cyQkITxGlbJWq736MyQkYQiMKCUJSZgao0nZarXw2uPGJCRhKIwkpcvlevW5VhKSMBxGkdLn
8736MyQkYUiMICUJSVgKkaV0Op2YmJh49edISMLQiCplOp3uKwUnCUkYHtGkTCQSCIfDfX2WhCRM
gShSRiIRpNPpvj9PQhKmgbeUkUgEq6urA6XwJCEJU8FLymHICJCQhAlhLeWwZARISMKkPEjZ7+TK
SxmmjAAJSZgYm82G1dVV3aQctowACUmYHL2k1ENGgIQkLMCwpdRLRoCEJCzCsKTUU0aAhCQsxKBS
6i0jQAVbCQuiqiqOjo4gy/KLPzMxMYGlpSXd63aSkIRlKRaLODo6QrvdfvbfOJ1OpNNp3ZdPHiAh
CUvT6XRwfX2NarWKWq2GRqMBl8sFn88Hr9eLRCIBu93OLB4SkiAEgiZ1CEIgSEiCEAgSkiAEgoQk
CIEgIQlCIEhIghAIEpIgBIKEJAiBICEJQiBISIIQCBKSIASChCQIgfgfw2nAqsjlAuUAAAAASUVO
RK5CYII=
"/>

<img onclick="dimension$currentTime(1)" width="30px" height="30px" style="cursor:pointer;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANYAAADNCAYAAADE8o52AAAABHNCSVQICAgIfAhkiAAAFblJREFU
eJztnelTGlkXh3/dzb4jNkbFFTVqTEWd1Pz/n6dmkjeJGhVXFBFBQZR96feDheMkMSJ03wXOU5XS
qmjfYzdP3/1cxTAMAwRBmIrKOwCCGERILIKwABKLICyAxCIICyCxCMICSCyCsAASiyAswMY7gEHH
MAy0Wi20Wi00m020221omvaff4qi8A6TMBkSqw+azSYqlQrK5fLj12q1ikaj8ShTu91+8TqqqkLT
NNhsNthsNrjdbrjdbng8nsevmqYx+IsIs1Bo5UV3NJtNFAoF5PN5lEollMtlNBoNZuU7HA643W74
fD6EQiGEQiHYbPReFBUS6xlarRZub28fZbq/v+cd0k/4/f5HyUKhEFSVusyiQGI9odFo4OrqCtls
FsViETLdGkVREAwGoes6otEo1WacGXqx2u02rq+vkclkcHNzI5VMz6EoCkZHRxGNRhGJRGhwhAND
K1axWMTl5SWy2SyazSbvcCzDbrcjGo1ibGwMfr+fdzhDw9CJlcvlkEwmcXd3xzsU5gSDQUxPT2Nk
ZIR3KAPPUIhlGAay2SySySRKpRLvcLjj9/sxPT2N0dFR3qEMLAMtlmEYyGQySCaTqFQqvMMRDq/X
i+npaei6Tv0wkxlYsXK5HA4PD1GtVnmHIjxutxsLCwvURDSRgROrWq0ikUjg5uaGdyjSoes64vE4
nE4n71CkZ2DEarfbODs7QzKZ7GoZEfFrNE3DzMwMYrEYNQ/7YCDEyufzSCQS1I8yEY/Hg8XFRYRC
Id6hSInUYrXbbRwcHCCdTvMOZWCZmJhAPB6n5VKvRFqxyuUydnZ2aPicAT6fD6urq3C73bxDkQYp
xcpkMkgkEmi1WrxDGRo0TcPS0hKi0SjvUKRAKrHa7TYSiQQuLy95hzK0jI+PY2FhgZqGLyCNWJVK
BVtbWyiXy7xDGXq8Xi/W1tbgcrl4hyIsUoh1d3eHb9++Md1YSPweh8OB9+/fw+fz8Q5FSIQXK5/P
Y3t7m/pTAqJpGtbW1mhI/hcILdbV1RV2d3cHYo/UoKKqKlZWVmhB7w8IK1YqlcLBwQHvMIguWVpa
wvj4OO8whEFIsU5OTnB6eso7DOKVzM3NYXp6mncYQiDcmOn5+TlJJSnHx8e4uLjgHYYQCCVWJpPB
4eEh7zCIPkgkEshms7zD4I4wYt3c3GBvb493GIQJfP/+Hfl8nncYXBGij1UsFvHly5eB3O6hqips
Ntt/Uko/TTndbbZc2dA0Devr60M7z8VdrHK5jM+fP0udKUnTNAQCgZ9SQ7tcrq72NBmGgWq1+p9U
1ZVKBXd3d1LP39ntdmxsbAzl4l2uYjWbTfzzzz/SbZ9XVRXBYBChUAjhcBg+n8+STYGGYeDu7g6F
QgGFQgG3t7fS1W5utxt//PHH0OWe5yrW9vY2crkcr+JfhaIoGBkZwdjYGCKRCJdFqJ3kopeXl8jn
89JMnEejUaysrPAOgyncxDo/P5diBNDr9WJ8fBzRaBR2u513OI/U63VcXV0hnU5LsTB5cXERExMT
vMNgBhex7u7u8PnzZ6HfuC6XC3Nzc1LsP7q8vMTJyQlqtRrvUJ5FVVVsbGwMzWAGc7FE71fZ7XZM
T09jcnJSqmQq7XYbqVQKyWRS2IGgYepvMRdL1H6VqqqIxWKYmpqS+qSOZrOJZDKJVCol5EDHsPS3
mIp1eXkp3CSwoih48+YNZmdn4XA4eIdjGrVaDcfHx8hkMrxD+YmVlRUpmtj9wEysZrOJv/76S6jN
in6/H8vLy/B4PLxDsYxSqYTd3V2hDs5zOBz4888/B7pJyGzM+OjoSCipotEo1tfXB1oq4GFUc2Nj
A7qu8w7lkXq9jpOTE95hWAoTse7u7oTK/Tc3N4eVlZWhSYiiqipWV1cxMzPDO5RHUqnUQKeuY/LJ
SiQSLIp5EU3T8O7du6HdMzQ7O4vV1VUhXiiGYQjzubACy+/wxcWFEIe8uVwubGxsDP0Wcl3XsbGx
IcTBB7e3t0IOrpiBpWI1Gg0cHx9bWURXBINBbG5uwuv18g5FCHw+HzY3NxEIBHiHgqOjI6kXGj+H
paOCImyxHxsbw9u3b5lO9jabTZTL5VfNI6mqCq/Xy3SkrN1uY29vD1dXV8zK/BXxeByxWIxrDGZj
2Uxoq9VCKpWy6vJdEQ6HmUpVq9Wwt7fX1ya/SCSCxcVFJk01VVWxvLyMer2OQqFgeXnPcXZ2homJ
CSH6fmZh2V+SSqW4Lq1xu91YXV1lJlWj0cCnT5/63jl7fX3NdH+aoihYXV3lmtW2Xq8PXNpwS8Rq
t9s4Pz+34tJdYbPZsLa2xnRp0vHxMer1uinXqtVqTOd57HY71tbWuE7Ynp2dCb0o+7VYItbFxQXX
yeCVlRXmE79mN6VYN828Xi+Wl5eZlvmUarU6UCOEpovVObKUF/Pz81wOqTb7NEkep1OOjo5idnaW
ebkdkskkt7LNxnSxrq6uTGsSvZaxsTFMTU1xKXtQmJmZ4bb8qVKpCLnzoRdMF4tXJzQQCGBpaYlL
2YPG8vIytw2JgzKIYapY1WoVt7e3Zl6yKzpr4QZpuJYnqqri3bt3XO7nzc2NUIu1e8XUO8er8xmL
xYRYojNIuFwuLjkqDMPgPmFtBtKLZbfbqV9lEdPT01x2Uw/C6KBpYhWLRS4jWbwe/jDA66V1d3cn
Reap32GaWDzeMi6XC5OTk8zLHSZ4NbNlr7VMEYtXu3hubk6qTEoyoqoql7ktEgsPVTfrdYE+n2/g
E5KIwtjYGPOVLLVaTermoCli8VgZPT8/z7zMYUVRFC73m+eK+36RUqxwOIxwOMy0zGEnEokgGAwy
LVPmM7b6FsswDOaTwjRgwQfW932oa6xiscg046rdbueyyJZ4qLVYTm00m02h8iG+hr7FYv1WiUaj
NBLICVVVmS/QlbU5KJ1YY2NjTMsj/gvr+y9rc7BvsVimNvN4PPD7/czKI34mGAwy3cYvQuq8XuhL
rHq9zjR1FY0EigHL59BoNIQ9luh39CUW6wm8UCjEtDzi17B+DjJOFJNYxKshsV5GGrF8Ph+tYhcE
h8PBdImTjGL19UlluU2k31n/VquFdDqNYrEo9Fm9HdrtNj5//mz6dZ1OJ4LBIMbHx/vaIRwMBpl9
4HlsR+qXvsRi+SbpJ+96qVTC1taWsOceP0exWLTkutlsFhcXF1hbW4Pb7e7pGizz4MtYY/X8ymq3
20w/qL02PQzDwO7urnRSWU25XO7r2FqWTcFKpSJdMs+exWI9BNrrm7VYLEq7LMZqbm9ve743LMUy
DEO6E0l6FovlH2qz2Xo+eFvWCUZW9CqW0+lkmsVpaMRiWWP1WlsB7GtW2ejn/vTzXF7L0IjFusYi
xIPlcyGxLIDnKRjE87B8LiSWBZBYYkJiPY8UfSwSS0xIrOehGovoGRLreXoWi+VQK8ut/0T3sHwu
sh140XO09LYiWD4XEssCSCwxoe7A8/QsFs1hEFRjPQ/VWETPUI31PFKI1c/+KUqV9nv6uT8s97WR
WBZQrVZ7HoFincxfNnpd79dqtZge4j40YrFev9frLtJgMChd+5wVmqYhEAj09LssNx8qitLz7gZe
9CUWS7l6fZAOh4NOJnmGhYWFnp8hS7GcTqd0Tfq+zPB4PJZtH/+Rfh7k5OQkHA4HDg8Ppch3YTVu
txvxeByRSKTna7AUi2WCULPoSyy3281MrH53Aeu6Dl3XUavVLJHL7MQviqJgfX3d1GsCDx9SM5pV
LHdlD51YLAcGzMrh7XQ6uZyp+1oURem5/2M1rI9uklGsvnr1LHeQNptN2mYvCMVikekc1tCJxXoo
W9aTJwYN1s9BxikTaWosgMQSBZbPQVVV+Hw+ZuWZRV9iqarKVK5CoUDJYTjTaDSY9q98Pp90Q+2A
CedjsUyQ3263cXV1xaw84mcymQzT5JmiDuC8hFRiAQ8PluAH6/tPYjGiWCxKmSR/ECiVSsyzCg+t
WKyPdAGAy8tLpuURD7C+77LMOf4KU1ansq61UqkUGo0G0zKHnVqthouLC6Zl9rPkijdSitVqtXBy
csK0zGHn5OSEeVIfEovDEabpdJr6Wowol8vMBy00TZP6aFxTxLLb7cxvgmEYOD4+ZlrmsHJ0dMT8
fKpwOCz1PjrTIh8bGzPrUl2TzWZp/aDF3N7e4vr6mnm5MjcDARPF0nWdyxvm6OiIeZnDBI/7qygK
idVB0zSMjo6adbmuKRQKuLm5YV7uMJDL5Zjtt3vK6Ogo7HY783LNxNQqhkdzEKBaywp49mHHx8e5
lGsmpooVDoe5JP0olUo4OztjXu4gk0wmuZxW73K5EA6HmZdrNqaKpSgKotGomZfsmqOjI2oSmkQu
l+M2TzgItRVgslgAMDExwW2Z/87ODpe37CBRKpWwu7vLpWxFUfDmzRsuZZuN6WK53W7oum72Zbui
1Wpha2uLy54ts1PB8Th3udFoYGtri1tK79HRUenyBz6HJePj09PTVly2KyqVCnZ2dphPaJq9y5X1
rlnDMLC9vY1qtcq03KfMzMxwK9tsLBHL6/VyGXrvkM/ncXBwwLTMqakpoa/3Evv7+0x3Bv/I6Ogo
vF4vt/LNxrIZXZ61FgBcXFwgnU4zK29kZATz8/N99y8VRUE8Hme6RCyVSnHfijNItRXQZ17B3+H3
+xEOh5HP560q4kUSiQTT4dupqSmMjIwgl8uhVCq9qjmqKAq8Xi90XWe6v+3m5gaHh4fMyvsVkUhE
yoQxv0MxLOyM3N7e4n//+59Vl+8KVVWxtLTEbfJaZNLpNBKJBPP+6I9sbm7C7/dzjcFsLF3cFwwG
ufa1gIcENLu7u9zfyiJhGAYODg6wv7/PXSpd1wdOKsBisYCHEy1EWP5/fn6Ob9++Df3pkM1mE9++
fUMqleIdCjRNQzwe5x2GJVj+iXc6ncJ0TG9ubvDp06eh3SBZLpfx6dMnrv3ep8zMzEib0+IlmFQl
U1NTwqQJ7ny4hi2r7s3NDT5//izMS8Xj8SAWi/EOwzKYiKUoChYXF1kU1RXNZhNfv35lnhyFF+fn
59xWpDzHwsKClBluu8XSUcEf+f79u3CZbEOhEObn5weyA10sFnF0dMR14vdXRKNRrKys8A7DUpiK
Va/X8ffffwuZuiwajWJubk7KI2N+pFKp4Pj4GNlslncoP+F0OvHx40cuayFZwlQs4GG50devX1kW
2TWKomBychLT09NS7mBtNBo4OTlBOp3mPoz+HOvr6wgGg7zDsBzmYgHA8fExkskk62K7xmazYWpq
CrFYTIipgpdot9s4OzvD2dmZ0NMJMzMzmJ2d5R0GE7iIZRgGvn79KvzIXGeqIBqNQtM03uH8RKvV
QiaTwenpKer1Ou9wfksgEMD6+vpAD1g8hYtYgNj9rR/pJMqJRqMIh8NcPxyGYSCfzyOTySCXyzHP
Ttsr8Xj8l/1Xh8MBr9cr5IurH7iJBYjd33oOh8OB0dFRhMNhhEIhJp3wZrOJQqGAfD6PbDYrxcvo
tXg8HgSDQczNzUnZv/0RrmIBD0lLZM1oqygKfD4fwuEwAoEAPB4PXC5XXzWaYRioVCool8soFoso
FApDlZTU4XBgaWlJ+ryC3MUCgIODAyHWrpmBoihwuVzweDxwOp2w2WzQNO3xq6qqaLfbaDabaLVa
aLVaaDabqFarqFQqqFarwo7osWRychILCwu8w+gZIcQCHhLBiDjvQvBjYmJCqBU7r0GYseSVlZWB
yCdHmMfFxQUSiQTvMHpCGLEURcG7d+8GcmkR0TuyyiWMWMDDsPb79+/hdrt5h0IIhIxyCdPHekq9
Xse3b9+YHyRNiI1MfS4hxQL+Tb4p+uoMgi3j4+NYWlriHcaLCCsW8G++ChotJJ4ig1xCi9Vhf3+f
aY5AQnxEl0sKsYCHU9tPT095h0EIhMhySSMW8HC8zN7enlBbzAm+iCqXVGIBQLVaxc7OzlCtnxMF
n88Hp9PJ5bDv3yGiXELNY3WDy+XCxsbGQGf4EZFYLIbNzU0hUxek02ns7+/zDuM/SJl44OnBAbu7
u9Q0tBCHw4Hl5WXhl5t1BrdEqbmkq7GeEolE8PHjR+m3GIhK5/6KLlUHkWouKWuspzidTqytrSGX
y+Hg4AC1Wo13SNLjdDoRj8e5nczZD6LUXNKL1aGzq/f09BTn5+e0p6kHFEVBLBbDzMyM1FvlRZBr
YMQCHhbxzs/P482bN0gkErQc6hWEw2EsLCy8mApclnyAvOWSbrj9NWSzWZyenqJUKvEORVj8fj9m
Zma67qfmcjlsb29bHJV58BqKl+P10yO6rkPXdVxfXyOZTKJYLPIOSRheK9TT35MJXjXXQIvVIRKJ
IBKJIJ/PI5lMDnUTsVehOjidTjgcDuHzGD6Fh1wD3RR8jmKxiPPzc1xfX0uTl68fNE2DrusYHx9H
IBDo+3qZTAa7u7smRMYWls3CoRSrQ7PZRDabRSaTEe5EDjPw+/0YHx+3JJPv1taWcEubuoGVXEMt
1lOq1SoymQwymYwwh7P1gtfrRSQSga7rlp5EL1Mm4x9hIReJ9Qvu7++Rz+dRKBRwe3sr9EEDiqIg
FAo99iNZruUrlUr48uULyfULSKwXMAwDd3d3KBQKj6Lx7JfZbDYEAgH4/X4EAgEEAgGuc0sk168h
sV6JYRgol8sol8uPqaA735u5GFjTNLhcLrhcLrjdbvh8Pvj9fmHOcn4KyfUzJJaJ1Ov1R8Gepo/u
fN/5p6oqNE17TDnd+d5msz3KJNvBADLL9ebNG7x9+9bUa5JYhGmQXP8i9bYRQiy8Xi8+fPggXW0L
AJeXl9jb2zPteiQWYSok1wMkFmE6JBeJRViE1+vF+vr60MpFYhGW4fF4hlYuEouwlI5cDoeDdyiv
ph+5SCzCcjweDz58+DBUcpFYBBOGTS4Si2CG7HK9JrUaiUUwRWa50ul010dKkVgEc2SW6+DgoKvF
1iQWwQVZ5arX6zg+Pn7x50gsghuyytVNSgISi+CKjHLVarUXV/CTWAR3ZJTr/v7+t/9PYhFCIJtc
L21jJLEIYZBJrpcyApNYhFDIIJfD4XhxYTGJRQiH6HKNjIy8+DMkFiEkosplt9sxPz//4s+RWISw
iLjlJB6Pd7W/jMQihMbtdgsjl67rGBsb6+pnSSxCeESQS9d1rKysdP3zJBYhBTzl6kilKErXv0Ni
EdLAQ65epAJILEIyWMrVq1QAiUVISEcup9NpWRn9SAWQWISkuN1ufPjwwRK5otFoX1IBJBYhMVbI
FY1Gsby83JdUAIlFSI6ZcpklFUBiEQOAGXKZKRVAYhEDQj9ymS0VQAfPEQNGvV7H/v5+d3kpVBVz
c3OIxWKmx0FiEQPJ5eUlDg4O0Gq1fvn/gUAAy8vLcLvdlpRPYhEDS7vdRqlUwv39Pe7v72Gz2R4P
SXe5XJaWTWIRhAXQ4AVBWACJRRAWQGIRhAX8HxcmtsjGaRzbAAAAAElFTkSuQmCC
"/>
</div>
#end
</div>
<img id="agsvginclude$currentTime" style="left:0px;" width="$width" height="$height" src="${config.getDomainName()}/download/attachments/${content.getIdAsString()}/${paramTheAttachment}"/>



